*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    background: url("imgs/fundo.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 12, 12);
    position: relative;
    z-index: 1;

    & nav{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        & input{
            width: 65vw;
            height: 5vh;
            margin-left: 5vw;
            margin-right: 6vw;
            padding-left: 20px;
            border-radius: 10px;
            border: none;   
            background-color: rgb(26, 26, 26);
            color: rgb(233, 255, 241);
            
        }
        button{
            background: transparent;
            border-style: none;
        }
   
        & button:hover{
            border-radius: 100%;
            background: rgba(255, 255, 255, 0.2);
        }
        & a:hover{
            border-radius: 100%;
            background: rgba(255, 255, 255, 0.2);
        }
    }
}
.home{
    width: 100%;
    height: 91vh;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .principal{
        display: flex;
        flex-direction: column;
        align-items: center;

        & .titulo{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 6em;
            color: rgb(233, 255, 241);
            margin: 30px;
        }

        & .busca{
            width: 55vw;
            height: 7vh;
            border-radius: 15px;
            text-align: left;
            padding: 20px;
            border: none;
        }

        & .recentes{
            width: 420px;
            display: flex;
            flex-wrap: wrap;
            margin: 20px;

            & .atalhos{
                width: 120px;
                height: 120px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                margin: 3px;
                border-radius: 5px;
                

                & img{
                    width: 80px;
                    height: 80px;
                }
            }
            & .atalhos:hover{
                background:rgba(255, 255, 255, 0.2);
                box-shadow: 5px, 5px, 5px black;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}
footer{
    display: flex;
    width: 100%;
    height: 130px;
    background-color: rgb(12, 12, 12);

    & .informacoes{
        font-size: 1em;
        display: flex;
        flex-direction: column;
        margin: 20px;
        color: rgb(233, 255, 241);
    }

    & .caminho{
        font-size: 1em;
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: auto;
        color: rgb(233, 255, 241);
    }

    & a{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(233, 255, 241);
    }
}
.fa-solid{
    margin: 10px;
    color: aliceblue;
}
.buttom{
    opacity: 0;
}
.page_fav{
    width: 30vw;
    height: 25vh;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 0;
    margin-right: 10vw;

    background-color: rgb(12, 12, 12);
    color: azure;
    font-size: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page_down{
    width: 30vw;
    height: 25vh;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 0;
    margin-right: 7.5vw;

    background-color: rgb(12, 12, 12);
    color: azure;
    overflow-y: auto;
    overflow-x: hidden;
}

.page_user{
    width: 30vw;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 5.5vw;

    background-color: rgb(12, 12, 12);
    color: azure;
    overflow-y: auto;
    overflow-x: hidden;

    & .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 9px;
        margin-bottom: 50px;

        & .fa-user{
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(72, 130, 255);
            border-radius: 100%;
            border: 2px white solid;
            font-size: 30px;
            color: white;
            
        }

        & .fa-pen{
            display: inline;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            cursor: pointer;
        }
    }

    & .account{
        width: 30vw;
        display: flex;
        flex-direction: row;
        justify-content: initial;
        align-items: center;
        margin: 5px;
        margin-left: 20px;
        gap: 20px;
        cursor: pointer;
        
        & .fa-circle-user{
            font-size: 35px;
        }
    }
    & .account:hover{
        background: rgba(255, 255, 255, 0.2);
    }
}

.pages{
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 80px;
}
.pages:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

a{
    color: inherit;
}