*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    transition: 0.2s;
}

:root{
    --color-black: rgb(12, 12, 12);
    --color-white: rgb(248, 248, 248);
    --color-green: rgb(0, 87, 0);
    --color-hover: rgb(255, 255, 255, 0.2); 
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(12, 12, 12, 0.1), rgb(12, 12, 12, 0.3)), url("/imgs/fundo.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    position: relative;
    z-index: 1;
    font-size: 15px;

    & nav{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        & input{
            width: 65vw;
            height: 5vh;
            margin-left: 5vw;
            margin-right: 6vw;
            padding-left: 20px;
            border-radius: 10px;
            border: none;   
            background-color: rgb(26, 26, 26);
            color: var(--color-white);
            
        }
        button{
            background: transparent;
            border-style: none;
            font-size: 15px;
        }
   
        & button:hover{
            border-radius: 100%;
            background: var(--color-hover);
        }
        & a:hover{
            border-radius: 100%;
            background: var(--color-hover);
        }
    }
}

.home{
    width: 100%;
    height: 91vh;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .principal{
        display: flex;
        flex-direction: column;
        align-items: center;

        & .titulo{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 6em;
            color: var(--color-white);
            margin: 30px;
        }

        & .busca{
            width: 55vw;
            height: 7vh;
            border-radius: 15px;
            text-align: left;
            padding: 20px;
            border: none;
        }

        & .recentes{
            width: 420px;
            display: flex;
            flex-wrap: wrap;
            margin: 20px;

            & .atalhos{
                width: 120px;
                height: 120px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                margin: 3px;
                border-radius: 5px;
                

                & .fa-globe{
                    color: var(--color-black);
                    font-size: 80px;
                }
            }
            & .atalhos:hover{
                background:rgba(255, 255, 255, 0.2);
                box-shadow: 5px, 5px, 5px black;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}
footer{
    display: flex;
    width: 100%;
    height: 130px;
    background-color: var(--color-black);

    & .informacoes{
        font-size: 1em;
        display: flex;
        flex-direction: column;
        margin: 20px;
        color: var(--color-white);
    }

    & .caminho{
        font-size: 1em;
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-left: auto;
        color: var(--color-white);
    }

    & a{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--color-white);
    }
}
.fa-solid{
    margin: 10px;
    color: var(--color-white);
}
.buttom{
    opacity: 0;
}
.page_fav{
    width: 30vw;
    height: 25vh;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 0;
    margin-right: 10vw;

    background-color: var(--color-black);
    color: var(--color-white);
    font-size: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.page_down{
    width: 30vw;
    height: 25vh;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 0;
    margin-right: 7.5vw;

    background-color: var(--color-black);
    color: var(--color-white);
    overflow-y: auto;
    overflow-x: hidden;
}

.page_user{
    width: 30vw;
    height: 70vh;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 5.5vw;

    background-color: var(--color-black);
    color: var(--color-white);
    overflow-y: auto;
    overflow-x: hidden;

    & .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 9px;
        margin-bottom: 50px;

        & .fa-user{
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(72, 130, 255);
            border-radius: 100%;
            border: 2px white solid;
            font-size: 30px;
            color: var(--color-white);
            
        }

        & .fa-pen{
            display: inline;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            cursor: pointer;
        }
    }

    & .account{
        width: 30vw;
        display: flex;
        flex-direction: row;
        justify-content: initial;
        align-items: center;
        margin: 5px;
        margin-left: 20px;
        gap: 20px;
        cursor: pointer;
        
        & .fa-circle-user{
            font-size: 35px;
        }
    }
    & .account:hover{
        background: var(--color-hover);
    }
}

.pages{
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 80px;
}
.pages:hover{
    cursor: pointer;
    background:var(--color-hover);
}

.page_config{
    width: 30vw;
    height: 80vh;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;

    background-color: var(--color-black);
    color: var(--color-white);
    overflow-y: auto;
    overflow-x: hidden;

    & .item{
        width: 30vw;
        display: flex;
        flex-direction: row;
        justify-content: initial;
        align-items: center;
        padding: 5px;
        margin-left: 15px;
    }
    & .item:hover{
        background: var(--color-hover);
    }
}
 .color{
    width: 30vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 5px;
    gap: 15px;
    background: linear-gradient(45deg, #e5ffeb, #66ff66, #00ff00, #00cc00, #005500, black);

    & .theme{
        width: 70px;
        height: 70px;
        border-radius: 100%;
        border: 2px white solid;
    }

    & #white{
        background: linear-gradient(45deg, #949494, var(--color-white));
    }
    & #green{
        background: linear-gradient(45deg, #161616, var(--color-green));
    }
    & #black{
        background: linear-gradient(45deg, #161616, var(--color-black));
    }
    
}

body.white {
    *{
        transition: 0.2s;
    }

    header{
        background-color: var(--color-white);
        box-shadow: -5px 5px 3px var(--color-black);

        & input{
            background-color: rgb(218, 218, 218);
            color: var(--color-black);
        }

        & button:hover{
            background-color: rgba(190, 190, 190, 0.329);
        }

        & a:hover{
            background-color: rgba(190, 190, 190, 0.329);
        }

    }

    .home{
        text-shadow: -3px 3px 3px var(--color-black);
        color: var(--color-white);

        & .titulo{
            color: var(--color-white);
            text-shadow: -3px 3px 3px rgb(41, 41, 41);
        }

        & .busca{
            box-shadow: -5px 5px 5px var(--color-black);
        }
        
        & .fa-globe{
            color: var(--color-white);
        }

        & .atalhos:hover{
            background-color: rgba(190, 190, 190, 0.329);
        }
    }

    .fa-solid{
        color: var(--color-black);
    }

    .page_fav{
        background-color: var(--color-white);
        color: var(--color-black);
    }

    .page_user{
        background-color: var(--color-white);
        color: var(--color-black);

        .fa-user{
            color: var(--color-black);
            border: 2px var(--color-black) solid;
        }
        
        & .account:hover{
            background-color: rgba(190, 190, 190, 0.329);
        }
    }

    .page_down{
        background-color: var(--color-white);
        color: var(--color-black);
    }

    .page_config{
        background-color: var(--color-white);
        color: var(--color-black);

        & .theme{
            border: 2px var(--color-black) solid;
        }

        & .item:hover{
            background-color: rgba(190, 190, 190, 0.329);
        }
    }
    .pages:hover{
        background-color: rgba(190, 190, 190, 0.329);
    }
    .color{
        background: linear-gradient(45deg, #00d100, #b3ffb3, white, #cbffcb, #00ff00, rgb(20, 167, 0));
    }

    .linha{
        border-top: 1px var(--color-black) solid;
    }

}

body.green {
    *{
        transition: 0.2s;
    }

    header{
        background-color: var(--color-green);
        box-shadow: -3px 3px 3px var(--color-black);

        & input{
            background-color: rgb(0, 56, 5);
        }

    }

    .home{
        text-shadow: -3px 3px 3px var(--color-black);
        color: var(--color-white);

        & .titulo{
            color: var(--color-green);
        }

        & .busca{
            box-shadow: -5px 5px 5px var(--color-black);
        }
        
        & .fa-globe{
            color: var(--color-white);
        }
    }

    .fa-solid{
        color: var(--color-white);
    }

    .page_fav{
        background-color: var(--color-green);
        color: var(--color-white);
    }

    .page_user{
        background-color: var(--color-green);
        color: var(--color-white);

        .fa-user{
            color: var(--color-black);
            border: 2px var(--color-black) solid;
        }
    }

    .page_down{
        background-color: var(--color-green);
        color: var(--color-white);
    }

    .page_config{
        background-color: var(--color-green);
        color: var(--color-white);

        & .theme{
            border: 2px var(--color-white) solid;
        }
    }
    .color{
        background: linear-gradient(45deg, #003d00, #005c00, #14a700, #00ff00, #cbffcb, #ffffff);
    }

    .linha{
        border-top: 1px var(--color-white) solid;
    }

}
.linha{
    width: 100%;
    border-top: 1px var(--color-white) solid;
}

a{
    color: inherit;
}